<!DOCTYPE html>
<html ng-app="app" flow-init
	flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
	flow-files-submitted="$flow.upload()">
<head>
<meta charset="ISO-8859-1">
<title>Yore</title>

<link rel="stylesheet"
	href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="webjars/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css">
<link rel="stylesheet"
	href="webjars/bootstrap-material-design/0.5.9/css/ripples.min.css">
<link rel="stylesheet"
	href="webjars/nouislider/8.5.1/distribute/nouislider.min.css">

<script src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/angularjs/1.5.7/angular.min.js"></script>
<script src="webjars/bootstrap-material-design/0.5.9/js/material.min.js"></script>
<script src="webjars/bootstrap-material-design/0.5.9/js/ripples.min.js"></script>
<script src="webjars/ng-flow/2.7.1/dist/ng-flow-standalone.min.js"></script>
<script src="webjars/nouislider/8.5.1/distribute/nouislider.min.js"></script>

<script src="/app/app.js"></script>
</head>
<body ng-controller="appController">

	<header class="navbar navbar-static-top bs-docs-nav">
		<div class="header-panel shadow-z-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-3">
						<h1>Yore</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="bs-docs-section">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h5 id="container">Simply select an image and press the
							pixelate button</h5>
					</div>
					<div class="bs-component">
						<div class="jumbotron">
							<div class="row">
								<div class="col-md-12">
									<div class="bs-component">
										<div class="col-sm-9" style="height: 150px">
											<div class="sliders" id="pixelSizeSlider"></div>
											<span id="pixelSizeValue">aaaa</span>
										</div>
									</div>
									<div class="col-md-12">
										<div class="container">
											<hr class="soften">
											<table class="table table-hover table-bordered table-striped"
												flow-transfers>
												<thead>
													<tr>
														<th>Name</th>
														<th>Size</th>
														<th>Relative Path</th>
														<th>Unique Identifier</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="file in transfers">
														<td>{{file.name}}</td>
														<td>{{file.size}}</td>
														<td>{{file.relativePath}}</td>
														<td>{{file.uniqueIdentifier}}</td>
													</tr>
												</tbody>
											</table>

											<div class="row">
												<hr class="soften" />
												Drag And Drop your image below
												<div class="alert" flow-drop
													flow-drag-enter="class='alert-success'"
													flow-drag-leave="class=''" ng-class="class">
													<br /> <br /> <br /> <br />
												</div>
												<div class="span6">
													<span class="btn btn-raised btn-primary" flow-btn flow-btn
														flow-attrs="{accept:'image/*'}"> <i
														class="icon icon-file" flow-btn
														flow-attrs="{accept:'image/*'}"> </i>Select Image
													</span> <span class="btn btn-raised btn-danger"
														ng-click="$flow.cancel()"> Remove </span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>